<table class="table table-sm">
    <thead class="align-bottom text-nowrap">
    <tr>
        <th style="width:1%">
            {% if request.user.is_authenticated and request.user.is_staff %}
                <div class="form-check m-0">
                    <input class="form-check-input"
                           type="checkbox"
                           id="ler-master"
                           data-target-name="ler-select"
                           data-actions-id="ler-actions"
                           aria-label="Выделить все строки">
                </div>
            {% endif %}
        </th>
        <th>ID-ATR</th>
        <th>ID-IDN</th>
        <th>Наименование (краткое)</th>
        <th>Наименование (полное)</th>
        <th>Запись</th>
        <th>Автор записи</th>
        <th>Действ. от</th>
        <th>Действ. до</th>
    </tr>
    </thead>
    <tbody class="align-top">
    {% for item in ler_items %}
        <tr data-edit-url="{% url 'ler_form_edit' item.pk %}"
            data-delete-url="{% url 'ler_delete' item.pk %}"
            data-move-up-url="{% url 'ler_move_up' item.pk %}"
            data-move-down-url="{% url 'ler_move_down' item.pk %}">

            <td class="text-nowrap">
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               id="ler-sel-{{ item.id }}"
                               name="ler-select"
                               value="{{ item.id }}"
                               aria-label="Выделить строку">
                    </div>
                {% endif %}
            </td>
            <td class="text-nowrap"><span class="clf-id-droid-mono">{{ item.pk|stringformat:"05d" }}-ATR</span></td>
            <td class="text-nowrap"><span class="clf-id-droid-mono">{% if item.identifier_record %}{{ item.identifier_record.pk|stringformat:"05d" }}-IDN{% else %}—{% endif %}</span></td>
            <td>{{ item.short_name }}</td>
            <td>{{ item.full_name|default:"—" }}</td>
            <td class="text-nowrap">{% if item.record_date %}{{ item.record_date|date:"d.m.Y" }}{% else %}—{% endif %}</td>
            <td>{{ item.record_author|default:"—" }}</td>
            <td class="text-nowrap">{% if item.name_received_date %}{{ item.name_received_date|date:"d.m.Y" }}{% else %}—{% endif %}</td>
            <td class="text-nowrap">{% if item.name_changed_date %}{{ item.name_changed_date|date:"d.m.Y" }}{% else %}—{% endif %}</td>
        </tr>
    {% empty %}
        <tr><td colspan="9" class="text-muted">Пока нет данных.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% include "classifiers_app/_registry_pagination.html" %}
