NEXTCLOUD_BASE_URL=https://cloud.imcmontanai.ru
NEXTCLOUD_SSO_ENABLED=True
NEXTCLOUD_OIDC_LOGIN_PATH=/apps/user_oidc/login/1
NEXTCLOUD_PROVISIONING_BASE_URL=https://cloud.imcmontanai.ru
NEXTCLOUD_PROVISIONING_USERNAME=admin
NEXTCLOUD_PROVISIONING_TOKEN=replace-with-nextcloud-app-password
NEXTCLOUD_OIDC_PROVIDER_ID=1
NEXTCLOUD_OIDC_CLIENT_ID=replace-with-django-oidc-client-id
NEXTCLOUD_DEFAULT_GROUP=staff
NEXTCLOUD_DEFAULT_QUOTA=
