<div  class="checklist-comment"
      id="chk-comment-{{ field }}-{{ request_item.id }}"
      hx-swap-oob="true"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover focus"
      title="{% if latest %}{{ latest.text|striptags|escape }}{% elif note %}{% if field == 'imc_comment' %}{{ note.imc_comment|default_if_none:''|striptags|escape }}{% else %}{{ note.customer_comment|default_if_none:''|striptags|escape }}{% endif %}{% else %}Комментарий отсутствует{% endif %}">
    {% with latest=histories|first %}
      <div class="d-flex align-items-center justify-content-between gap-2">
        <div class="text-truncate">
          {% if latest %}
            {{ latest.text|truncatechars:22 }}
          {% elif note %}
            {% if field == "imc_comment" %}
              {{ note.imc_comment|default:"" }}
            {% else %}
              {{ note.customer_comment|default:"" }}
            {% endif %}
          {% else %}
            <span class="comment-placeholder">&nbsp;</span>
          {% endif %}
        </div>
        <button
          type="button"
          class="btn btn-link btn-sm p-0"
          title="Редактировать комментарий"
          data-bs-toggle="modal"
          data-bs-target="#commentModal-{{ field }}-{{ request_item.id }}">
          <i class="bi bi-pencil-square text-muted"></i>
        </button>
      </div>
    {% endwith %}
</div>